  mat-tab-group {
    margin: auto;
    max-width: 600px;
    margin-top: 2rem;
    text-align: center;
  }

  .size-card {
    margin: auto;
    max-width: 800px;
    display: block;
    margin-top: 2rem;
    border-style: none;
    margin-bottom: 2rem;
  }
