<div class="container">
    <mat-card *ngFor="let product of products">
        <img matCardImage [src]="product.image">
        
        <mat-card-header class="product-card">
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
        </mat-card-header>
        <div mat-dialog-actions align="end">
            <h3>{{product.price}} Bs.</h3>
        </div>

        
        <div layout="row" layout-align="betweend center">
            <button mat-raised-button color="primary" [routerLink]="['/products', product.id]" routerLinkActive="router-link-active" >ver mas</button>
            <button mat-mini-fab aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>   
        </div>
        
    </mat-card>
</div>

<div mat-grid-list>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia vitae similique sit voluptates perferendis ipsum nesciunt dignissimos qui aspernatur cum sint nihil, iure maiores repudiandae accusantium. Impedit, dolor. Veniam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia vitae similique sit voluptates perferendis ipsum nesciunt dignissimos qui aspernatur cum sint nihil, iure maiores repudiandae accusantium. Impedit, dolor. Veniam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia vitae similique sit voluptates perferendis ipsum nesciunt dignissimos qui aspernatur cum sint nihil, iure maiores repudiandae accusantium. Impedit, dolor. Veniam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia vitae similique sit voluptates perferendis ipsum nesciunt dignissimos qui aspernatur cum sint nihil, iure maiores repudiandae accusantium. Impedit, dolor. Veniam!</p>
</div>