<mat-toolbar>
    <mat-toolbar-row  fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <h2>Products</h2>
        </div>
        <div>
            <button mat-mini-fab color="primary">
                <mat-icon class="mat-18" (click)="createProduct()">add</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0" fxLayoutAlign="center">
    <div *ngFor="let product of products">

        <mat-card fxFlex="0 1 calc(33.3% - 0)" fxFlex.lt-md="0 1 calc(50% - 0)" fxFlex.lt-sm="100%">
            <img matCardImage [src]="product.image" class="img">
            
            <div gdAreas="header header | side content | footer footer" gdGap="16px" gdRows="auto auto auto" fxLayoutAlign="space-between">
                <div gdArea="header" fxLayoutAlign="center">
                    <mat-card-header>
                        <mat-card-title>{{product.name}}</mat-card-title>
                        <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
                    </mat-card-header>
                </div>

                <div gdArea="side">
                    <h3>{{product.price}} Bs.</h3>
                </div>

                <div gdArea="content">
                    <button mat-mini-fab aria-label="Example icon button with a heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
    
                <div gdArea="footer" fxLayoutAlign="center">
                    <button class="btn" mat-raised-button color="primary" [routerLink]="['/products', product.id]" routerLinkActive="router-link-active" >ver mas
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>